@{
    ViewBag.Title = "Robert Ostermann";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Phone</strong> <p>817.915.2681</p>
    <strong>Email</strong> <p><a href="mailto:RobertOstermann5@gmail.com">RobertOstermann5@gmail.com</a></p>
</address>