@page
@model Website.Pages.FreeAgencyModel
@{
    ViewData["Title"] = "Free Agency";
}

<link rel="stylesheet" href="~/css/free-agency.css">

<!-- Navbar Section -->
<header class="pb-2">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top py-0">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <span class="highlight-blue">M</span><span class="highlight-red">F</span><span class="highlight-blue">L</span>
                Free Agency
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item text-dark" id="navbar-home">
                        <a class="nav-link" id="navbar-home-link" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item text-dark" id="navbar-players">
                        <a class="nav-link" id="navbar-players-link" asp-area="" asp-page="/Players">Players</a>
                    </li>
                    <li class="nav-item text-dark active" id="navbar-free-agency">
                        <a class="nav-link highlight-blue" id="navbar-free-agency-link" asp-area="" asp-page="/FreeAgency">Free Agency</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Main Section -->
<div class="container-fluid padding">
    <div class="row padding">
        <!-- Chat Section -->
        <div class="col-12 col-lg-6 col-xl-4 padding">
            <div class="card mb-2 h-100">
                <div class="card-body chat-box" id="chat-box">

                </div>
                <!-- Message input and submit button -->
                <div class="card-footer">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text message-button">Send Message To: </label>
                        </div>
                        <select class="custom-select" id="message-recipient">
                            <option selected>Everyone</option>
                            <option value="1">Tornados</option>
                            <option value="2">Penguins</option>
                            <option value="3">Pigeon Boys</option>
                            <option value="4">Dactyls</option>
                            <option value="5">ODB's</option>
                            <option value="6">Storm Dynasty</option>
                            <option value="7">Nike Storm</option>
                            <option value="8">Gorillas</option>
                            <option value="9">Power</option>
                            <option value="10">Ram</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control message-text" placeholder="Message" id="message-input">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary message-button" type="button" id="submit-message">Send Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bid Section -->
        <div class="col-12 col-lg-6 col-xl-4 padding">
            <div class="card mb-2 h-100" id="bid-player-card">
                <img class="card-img-top" src="~/images/teams/FootballField.jpg" id="player-image">
                <div class="card-body">
                    <h4 class="card-title" id="player-name">Free Agency</h4>
                    <h5 class="card-subtitle mb-2 text-muted" id="player-team">Starting Soon</h5>
                </div>
                <!-- Bid input, opt out, and submit buttons -->
                <div class="card-footer" id="bid-card-footer">
                    <div id="bid-button-section">
                        <h4 class="bid-label" id="current-bid">None: $0.00</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Other Section-->
        <div class="col-12 col-xl-4 padding">
            <div class="card mb-2 h-100">
                <div class="card-header" id="team-card-header">
                    <h2 id="team-card-header-text">MFL Teams</h2>
                </div>
                <div class="card-body team-card" id="team-card-body">
                    
                </div>
                <div class="card-footer" id="team-card-footer">
                    <div class="row" id="team-information">
                        <div class="col-auto mr-auto py-0">
                            <h5>Salary</h5>
                        </div>
                        <div class="col-auto py-0">
                            <h5 id="team-salary">$25.00</h5>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-auto mr-auto py-0">
                            <h5>Adjustments</h5>
                        </div>
                        <div class="col-auto py-0">
                            <h5 id="team-adjustments">$2.50</h5>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-auto mr-auto py-0">
                            <h5>Total</h5>
                        </div>
                        <div class="col-auto py-0">
                            <h5 id="team-total-salary">$27.50</h5>
                        </div>
                    </div>
                    <div class="input-group">
                        <select class="custom-select" id="selected-team">
                            <option selected>Opt-Outs</option>
                            <option value="1">Tornados</option>
                            <option value="2">Penguins</option>
                            <option value="3">Pigeon Boys</option>
                            <option value="4">Dactyls</option>
                            <option value="5">ODB's</option>
                            <option value="6">Storm Dynasty</option>
                            <option value="7">Nike Storm</option>
                            <option value="8">Gorillas</option>
                            <option value="9">Power</option>
                            <option value="10">Ram</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/freeAgency.js"></script>
