@page
@model Website.Pages.PlayersModel
@{
    ViewData["Title"] = "Players";
}

<link rel="stylesheet" href="~/css/players.css">

<!--- Cards -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/players/Aaron Jones.jpg">
                <div class="card-body">
                    <h4 class="card-title">Aaron Jones</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Tornados</h5>
                    <p class="card-text">
                        NFL Team: Packers<br>
                        Age: 25<br>
                        Salary: $7.91<br>
                        2019 Position Rank: 2<br>
                        2019 Fantasy Average: 18.39
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/players/Chris Godwin.jpg">
                <div class="card-body">
                    <h4 class="card-title">Chris Godwin</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Penguins</h5>
                    <p class="card-text">
                        NFL Team: Buccaneers<br>
                        Age: 24<br>
                        Salary: $8.16<br>
                        2019 Position Rank: 2<br>
                        2019 Fantasy Average: 16.65
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/players/Ezekiel Elliot.jpg">
                <div class="card-body">
                    <h4 class="card-title">Ezekiel Elliot</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Bombers</h5>
                    <p class="card-text">
                        NFL Team: Cowboys<br>
                        Age: 25<br>
                        Salary: $13.41<br>
                        2019 Position Rank: 4<br>
                        2019 Fantasy Average: 18.04
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/players/Lamar Jackson.jpg">
                <div class="card-body">
                    <h4 class="card-title">Lamar Jackson</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Power</h5>
                    <p class="card-text">
                        NFL Team: Ravens<br>
                        Age: 23<br>
                        Salary: $12.91<br>
                        2019 Position Rank: 1<br>
                        2019 Fantasy Average: 36.40
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row padding">
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/players/Aaron Jones.jpg">
                <div class="card-body">
                    <h4 class="card-title">Aaron Jones</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Tornados</h5>
                    <p class="card-text">
                        NFL Team: Packers<br>
                        Age: 25<br>
                        Salary: $7.91<br>
                        2019 Position Rank: 2<br>
                        2019 Fantasy Average: 18.39
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/players/Chris Godwin.jpg">
                <div class="card-body">
                    <h4 class="card-title">Chris Godwin</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Penguins</h5>
                    <p class="card-text">
                        NFL Team: Buccaneers<br>
                        Age: 24<br>
                        Salary: $8.16<br>
                        2019 Position Rank: 2<br>
                        2019 Fantasy Average: 16.65
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/players/Ezekiel Elliot.jpg">
                <div class="card-body">
                    <h4 class="card-title">Ezekiel Elliot</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Bombers</h5>
                    <p class="card-text">
                        NFL Team: Cowboys<br>
                        Age: 25<br>
                        Salary: $13.41<br>
                        2019 Position Rank: 4<br>
                        2019 Fantasy Average: 18.04
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/players/Lamar Jackson.jpg">
                <div class="card-body">
                    <h4 class="card-title">Lamar Jackson</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Power</h5>
                    <p class="card-text">
                        NFL Team: Ravens<br>
                        Age: 23<br>
                        Salary: $12.91<br>
                        2019 Position Rank: 1<br>
                        2019 Fantasy Average: 36.40
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row padding">
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/players/Aaron Jones.jpg">
                <div class="card-body">
                    <h4 class="card-title">Aaron Jones</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Tornados</h5>
                    <p class="card-text">
                        NFL Team: Packers<br>
                        Age: 25<br>
                        Salary: $7.91<br>
                        2019 Position Rank: 2<br>
                        2019 Fantasy Average: 18.39
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/players/Chris Godwin.jpg">
                <div class="card-body">
                    <h4 class="card-title">Chris Godwin</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Penguins</h5>
                    <p class="card-text">
                        NFL Team: Buccaneers<br>
                        Age: 24<br>
                        Salary: $8.16<br>
                        2019 Position Rank: 2<br>
                        2019 Fantasy Average: 16.65
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/players/Ezekiel Elliot.jpg">
                <div class="card-body">
                    <h4 class="card-title">Ezekiel Elliot</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Bombers</h5>
                    <p class="card-text">
                        NFL Team: Cowboys<br>
                        Age: 25<br>
                        Salary: $13.41<br>
                        2019 Position Rank: 4<br>
                        2019 Fantasy Average: 18.04
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/players/Lamar Jackson.jpg">
                <div class="card-body">
                    <h4 class="card-title">Lamar Jackson</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Power</h5>
                    <p class="card-text">
                        NFL Team: Ravens<br>
                        Age: 23<br>
                        Salary: $12.91<br>
                        2019 Position Rank: 1<br>
                        2019 Fantasy Average: 36.40
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/players.js"></script>