@page
@model Website.Pages.PlayersModel
@{
    ViewData["Title"] = "Players";
}

<link rel="stylesheet" href="~/css/players.css">

<!--- Player Cards -->
<div class="container-fluid padding" id="player-cards">
    
</div>

<script src="~/js/players.js"></script>