/* Main Section */

/* Chat Section */

.chat-box {
    /* Use Javascript to set the same size as player card */
    height: 68vh;
    padding-bottom: 2rem;
    overflow-y: scroll;
}

.chat-message {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 5rem;
}

.chat-message-send {
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 1rem;
}

.chat-message, .chat-message-send {
    font-size: medium;
}

.chat-message-footer {
    height: 3.5rem;
}

.chat-message-identifier {
    font-size: small;
}

.message-text, .message-button {
    font-family: 'Roboto', sans-serif;
}

/* Bid Section */

.bid-label {
    text-align: center;
    padding-right: 1rem;
    margin-top: .5rem;
}

.bid-button, .bid-text {
    font-family: 'Roboto', sans-serif;
}

.commissioner-section {
    visibility: visible;
}

.commissioner-button {
    font-family: 'Permanent Marker', sans-serif;
}

